<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center;">Qr Code Generator For Shortening the URL</h1>

<form name="qr" action="/" method="GET" style="text-align: center;" >

        <label>URL:</label> <input type='text' name='url' /><br><br>
        <label>&nbsp;</label> <input type="submit" value="Click here to generate QR" class="btn">

</form>

<div th:if="${url!=''}" style="margin-left: 33%;text-align: center; width:40%;display: inline-block;">
    <h3>Qr Code as an Image</h3>
    <p>URL : <span th:text="${url}"></span></p>
    <img  th:src="@{/img/QRCode.png}" height="250" width="250"/>
    <p>Shorten URL : <span th:text="${shortUrl}"></span></p>
    <a  th:href="@{/img/QRCode.png}" download> Download Here</a>

</div>

</body>
</html>